.App {
    text-align: center;
    
    /* background: #0bb4df;
    background: linear-gradient(180deg, #2661d8 1%, #0bb4df 220%); */
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
